<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<txtDomain>testml.duckdns.org</txtDomain>
	<txtToken>ca6dc3ba-e402-47db-9fca-96357082ceed</txtToken>
	<cbRefresh>1</cbRefresh>
	<RefreshInterval>5</RefreshInterval>
	<cbShowNotificactions>0</cbShowNotificactions>
	<chkCloseToTry>false</chkCloseToTry>
	<chkMinimizeToTry>true</chkMinimizeToTry>
	<cbNetworkAdapter>5</cbNetworkAdapter>
	<txtNetworkAdapterIpAddress>192.168.0.163</txtNetworkAdapterIpAddress>
	<txtNetworkAdapterID>{4E852098-6EF7-41B8-A00B-485A3D140AA0}</txtNetworkAdapterID>
</Config>